# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Poetry
poetry.lock

# Logs and databases
*.log
*.sqlite3

# Unit test / coverage reports
.coverage
*.cover
coverage.xml
*.lcov
.cache/
nosetests.xml
coverage/
*.coveragerc

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.tmp

# Docker
*.env
*.env.*
Dockerfile.*

# System files
.DS_Store
Thumbs.db
